{% extends "main.html" %}

{% block title %} Welcome to miniFoursquare! {% endblock %}

{% block content %}
{% if 'username' in session %}
	<h2>Hello {{ session['username'] }}!</h2>
		<form method='POST'><input type=submit value="logout" name="logout"></form>
{% else %}
	<h2>Hello, Stranger!</h2>
	{% if invalidLogin %}
		<h2>INVALID: USER DOES NOT EXIST</h2>
	{% endif %}
        <form method='POST'><input type=text name="username">
		<input type=submit value=login name=login></form>
		<form method='POST'><input type=submit value=signup name=signup></form>
{% endif %}
{% endblock %}

