<!doctype html>
{% extends "main.html" %}

{% block title %} Sign Up! {% endblock %}

{% block content %}
{% if result == None %}
	<h2>please enter a username</h2>
		<form method='POST'><input type=submit value="create" name="create">
		<input type=text name=username></form>
{% elif result == 'success' %}
	<h2>Success! your username has been created.</h2>
        <form method='POST'><input type=submit value=continue name=gohome></form>
{% elif result == 'failure' %}
	<h2>Unable to create username.</h2>
{% endif %}
{% endblock %}